header {
  z-index: 9999;
}
body {
  background-color: #ffefdc;

}

.section-informacoes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 5rem;
  margin-top: 2.5rem;
  font-weight: 500;
  color: #352f2f;
}
.main-informacoes {
  padding-top: 6em;
  height: 100vh;
}
.foto-livro {
  width: 15rem;
  margin-right: 2rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.titulo {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.autor {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.sinopse {
  font-size: 1rem;
  max-width: 50%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.estrelas {
  font-size: 1.6rem;
  margin-right: .3rem;
}
.ligadas {
  color: #EBA654;
}
.desligadas {
  color: #a8a49e;

}
.solicitacao {
  width: 12rem;
  height: 3rem;
  background: #eba654;
  border-radius: 10px;
  outline: none;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.solicitacao > b {
  font-weight: 1000;
}
.solicitacao:hover {
  background: rgb(231, 138, 23);

}

@media (max-width: 800px) {
  .sinopse {
    max-width: 75%;
  }
  .section-informacoes, .informacoes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
  }
  .titulo {
    margin-top: 2rem;
  }
  .solicitacao {
    margin-bottom: 1rem;
  }
  .section-informacoes, .foto-livro {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 800px) {
  .sinopse {
    max-width: 75%;
  }
}
@media (min-width: 900px) {
  .sinopse {
    max-width: 65%;
  }
}
@media (min-width: 990px) {
  .sinopse {
    max-width: 60%;
  }
}
@media (min-width: 1365px) {
  .sinopse {
    max-width: 50%;
  }
}
@media (min-width: 1510px) {
  .sinopse {
    max-width: 45%;
  }
}
@media (min-width: 1705px) {
  .sinopse {
    max-width: 35%;
  }
}
@media (min-width: 2045px) {
  .sinopse {
    max-width: 30%;
  }
}
@media (min-width: 2730px) {
  .sinopse {
    max-width: 20%;
  }
}
@media (min-width: 4095px) {
  .sinopse {
    max-width: 13%;
  }
}